In [72]:
import os
import requests
import pymongo
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo
import time

In [73]:
# identify location of chromedriver and store it as a variable
driverPath = !which chromedriver

# Setup configuration variables to enable Splinter to interact with browser
executable_path = {'executable_path': driverPath[0]}
browser = Browser('chrome', **executable_path, headless=False)

In [74]:
Nasa_news_url = 'https://mars.nasa.gov/news/'
browser.visit(Nasa_news_url)
html = browser.html

In [75]:
soup_nasa = BeautifulSoup(html, 'html.parser')
type(soup_nasa)

bs4.BeautifulSoup

In [76]:
### NASA Mars News
#<div class="content_title"><a href="/news/8782/sensors-on-mars-2020-spacecraft-answer-long-distance-call-from-earth/" target="_self">
#Sensors on Mars 2020 Spacecraft Answer Long-Distance Call From Earth</a></div>
#<div class="article_teaser_body">Instruments tailored to collect data during the descent of NASA's next rover through the Red Planet's atmosphere have been checked in flight.</div>
#news_paragraphs = soup_nasa.find_all('div', class_="article_teaser_body")[0].text

news_titles = soup_nasa.find_all('div', class_="content_title")[0].text
news_paragraphs = soup_nasa.find_all('div', class_="article_teaser_body")[0].text

print(news_titles) 
print ('------------------')
print(news_paragraphs)

Mars Now
------------------
Sometimes half measures can be a good thing – especially on a journey this long. The agency's latest rover only has about 146 million miles left to reach its destination.

In [45]:
### JPL Mars Space Images - Featured Image

In [77]:
url= 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
#print(soup.prettify())

In [78]:
#go to the full image
#data-fancybox-href
image = browser.find_by_id('full_image')
image.click()
time.sleeps(5)
browser.click_link_by_partial_text('more info')

AttributeError: module 'time' has no attribute 'sleeps'

In [ ]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [49]:
url_image_find = soup.find('img',class_= 'main_image')

In [50]:
featured_image_url =  'https://www.jpl.nasa.gov' + url_image_find

TypeError: can only concatenate str (not "NoneType") to str

In [51]:
featured_image_url

NameError: name 'featured_image_url' is not defined

In [52]:
### Mars Facts

In [53]:
url = 'https://space-facts.com/mars/'

In [54]:
mars_facts_df = pd.read_html('https://space-facts.com/mars/')[2]

In [55]:
mars_facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [56]:
mars_facts_df.columns =["Details", "Measures"]

In [57]:
mars_facts_df

                Details                       Measures
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [58]:
mars_facts_df = mars_facts_df.to_html()

In [59]:
mars_facts_df

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Details</th>\n      <th>Measures</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [ ]:
### Mars Hemispheres